@model IEnumerable<WebDangKySuDungPhongMay.Models.PhieuDangKyGV>

@{
    ViewBag.Title = "Lịch sử phiếu đăng ký giảng viên";
    Layout = "~/Views/Shared/_NguoiQuanLyLayout.cshtml";
}

<h1 class="text-center text-uppercase">Lịch sử phiếu đăng ký giảng viên</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Phòng máy</th>
            <th>Lớp học phần</th>
            <th>Giảng viên</th>
            <th>Ngày đăng ký</th>
            <th>Ngày sử dụng</th>
            <th>Tiết bắt đầu</th>
            <th>Tiết kết thúc</th>
            <th>Lý do</th>
        
      
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.PhongMay.MaPhongMay</td>
                <td>@request.LopHocPhan.MaLopHocPhan</td>
                <td>@request.GiangVien?.HoTen</td>
                <td>@request.NgayDangKy.ToShortDateString()</td>
                <td>@request.NgaySuDung.ToShortDateString()</td>
                <td>@request.TietBatDau</td>
                <td>@request.TietKetThuc</td>
                <td>@request.LyDo</td>
            
          
                <td>@(request.TrangThai ? "Đã duyệt" : "Chưa duyệt")</td>
            </tr>
        }
    </tbody>
</table>
